<div class="w-1/2 mx-auto static">
  <div class="w-full mx-auto max-w-xs">
    <form
      [formGroup]="form"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    >
      <ng-container *ngIf="errorMessage">
        <div class="my-3 border border-red-600 p-4">
          <mat-error>{{ errorMessage }} </mat-error>
        </div>
      </ng-container>

      <div class="mb-4">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [formControlName]="'email'"
            id="login-email"
          />
        </mat-form-field>

        <app-form-input-error
          [errors]="form.get('email')?.errors"
          *ngIf="checkFieldPristineOrDirt('email')"
        ></app-form-input-error>
      </div>
      <div class="mb-6">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [formControlName]="'password'"
            id="login-password"
          />
        </mat-form-field>

        <app-form-input-error
          [errors]="form.get('password')?.errors"
          *ngIf="checkFieldPristineOrDirt('password')"
        ></app-form-input-error>
      </div>

      <div class="flex items-center justify-between">
        <button
          mat-raised-button
          color="primary"
          (click)="submitForm()"
          [disabled]="isLoading"
        >
          Sign in
        </button>
        <a
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
          [routerLink]="'/tasks-management'"
        >
          Forgot Password?
        </a>
      </div>
    </form>
  </div>

  <ng-container *ngIf="isLoading">
    <div class="absolute top-1/2 right-1/2">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</div>
